---
import Experience from "../components/Experience";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Maxim Brochin's portfolio home page." />
    <meta name="author" content="Maxim Brochin" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <style is:global>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white;
    }

    p {
      color: rgb(148 163 184);
    }
  </style>
  <body class="bg-slate-800">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <h1 class="text-7xl text-center my-5">Hey, I'm Max 👋</h1>
    <Experience jobTitle="Work in progress" company="Coming soon..." />
  </body>
</html>
